tcp-modbus-delta-test/flow.json
[
    {
        "id": "1ff1aed6663ccbf2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad6724b6e5c870ab",
        "type": "modbus-client",
        "name": "Delta DVP12SE",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.152",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "20036474cfb2ccbf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf056da88cd997c1",
        "type": "ui_tab",
        "name": "Speed control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99b03c3cbb51a26b",
        "type": "ui_group",
        "name": "Default",
        "tab": "cf056da88cd997c1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71b3ad8de5bdc0ba",
        "type": "ui_group",
        "name": "Speed",
        "tab": "cf056da88cd997c1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dad66a075e0ec088",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "",
        "server": "",
        "region": "us"
    },
    {
        "id": "51e97ef295b33cf3",
        "type": "ui_group",
        "name": "Position control",
        "tab": "267baa4aa0f770a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "267baa4aa0f770a7",
        "type": "ui_tab",
        "name": "Position control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "87623160f6e4cbb8",
        "type": "inject",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "af72cd4e1c876cb9"
            ]
        ]
    },
    {
        "id": "af72cd4e1c876cb9",
        "type": "modbus-getter",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2048",
        "quantity": "2",
        "server": "ad6724b6e5c870ab",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "f011b4d61c298535"
            ],
            []
        ]
    },
    {
        "id": "f011b4d61c298535",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6a815a1c44c3956",
        "type": "inject",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "677234a8a7368392"
            ]
        ]
    },
    {
        "id": "677234a8a7368392",
        "type": "modbus-getter",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1282",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ca1f4b765dfaa99b",
                "340aa11b1b96e4ab"
            ],
            []
        ]
    },
    {
        "id": "ca1f4b765dfaa99b",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "340aa11b1b96e4ab",
        "type": "function",
        "z": "1ff1aed6663ccbf2",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ec451008e368fa66",
        "type": "inject",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "1faceb6419890c99"
            ]
        ]
    },
    {
        "id": "da568c05f3f63ed8",
        "type": "comment",
        "z": "1ff1aed6663ccbf2",
        "name": "Speed control",
        "info": "",
        "x": 110,
        "y": 900,
        "wires": []
    },
    {
        "id": "1faceb6419890c99",
        "type": "modbus-getter",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4106",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 400,
        "y": 960,
        "wires": [
            [
                "90be698fd9d90c32",
                "0da3af4258236f8e"
            ],
            []
        ]
    },
    {
        "id": "90be698fd9d90c32",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 960,
        "wires": []
    },
    {
        "id": "0da3af4258236f8e",
        "type": "ui_gauge",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "group": "71b3ad8de5bdc0ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "R.P.M.",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3f170d8f3d805de0",
        "type": "ui_slider",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "label": "Servo Speed (RPM)",
        "tooltip": "",
        "group": "71b3ad8de5bdc0ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3000",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "99577de554b5692c"
            ]
        ]
    },
    {
        "id": "99577de554b5692c",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4106",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 620,
        "y": 1080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2563fb7f7a6d614",
        "type": "comment",
        "z": "1ff1aed6663ccbf2",
        "name": "Servo Position Control Direction",
        "info": "",
        "x": 170,
        "y": 660,
        "wires": []
    },
    {
        "id": "dedd42852726e687",
        "type": "inject",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "cfa5891fbb1531e4"
            ]
        ]
    },
    {
        "id": "cfa5891fbb1531e4",
        "type": "modbus-getter",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1282",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "ea832a53b8716053"
            ],
            []
        ]
    },
    {
        "id": "d76a093605a135fc",
        "type": "function",
        "z": "1ff1aed6663ccbf2",
        "name": "SetDir",
        "func": "if (msg.payload == true) {\n    msg.payload = \"CW\";\n} else {\n    msg.payload = \"CCW\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 740,
        "wires": [
            [
                "a6327007ad78f307",
                "c76b1a0f1fa70cae"
            ]
        ]
    },
    {
        "id": "28f7efa14cedebb7",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2049",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 820,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6fc3311b17ce6856",
        "type": "ui_switch",
        "z": "1ff1aed6663ccbf2",
        "name": "servo_dir_pos",
        "label": "Servo direction",
        "tooltip": "",
        "group": "51e97ef295b33cf3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 560,
        "y": 800,
        "wires": [
            [
                "28f7efa14cedebb7"
            ]
        ]
    },
    {
        "id": "a6327007ad78f307",
        "type": "ui_text",
        "z": "1ff1aed6663ccbf2",
        "group": "51e97ef295b33cf3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "ea832a53b8716053",
        "type": "function",
        "z": "1ff1aed6663ccbf2",
        "name": "CheckY2",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 720,
        "wires": [
            [
                "d76a093605a135fc",
                "7e8260afa71d4a27"
            ]
        ]
    },
    {
        "id": "7e8260afa71d4a27",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 680,
        "wires": []
    },
    {
        "id": "c76b1a0f1fa70cae",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 740,
        "wires": []
    },
    {
        "id": "10677f892aeb0ab9",
        "type": "comment",
        "z": "1ff1aed6663ccbf2",
        "name": "Position control",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "5510e273a8c750dc",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4101",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 640,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a8fe5fbb5728f940",
        "type": "range",
        "z": "1ff1aed6663ccbf2",
        "minin": "1",
        "maxin": "360",
        "minout": "1",
        "maxout": "7200",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "5510e273a8c750dc"
            ]
        ]
    },
    {
        "id": "82074d9af128c944",
        "type": "ui_button",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "group": "51e97ef295b33cf3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set position",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "9208e9692d165c40"
            ]
        ]
    },
    {
        "id": "9208e9692d165c40",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2048",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 560,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a016f728e826190d",
        "type": "ui_text_input",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "label": "Speed in RPM (from 1 to 3000)",
        "tooltip": "",
        "group": "51e97ef295b33cf3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "1b7625a6234adc04"
            ]
        ]
    },
    {
        "id": "1b7625a6234adc04",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4116",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 640,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b04a7b0abdd218cc",
        "type": "ui_text_input",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "label": "Position in ° (from 1 to 360)",
        "tooltip": "",
        "group": "51e97ef295b33cf3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "a8fe5fbb5728f940"
            ]
        ]
    },
    {
        "id": "bfb1981b0629aba5",
        "type": "comment",
        "z": "1ff1aed6663ccbf2",
        "name": "Servo Speed Control Direction",
        "info": "",
        "x": 160,
        "y": 440,
        "wires": []
    },
    {
        "id": "a2d8027e612c950c",
        "type": "inject",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "d07801fe6affe005"
            ]
        ]
    },
    {
        "id": "d07801fe6affe005",
        "type": "modbus-getter",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "1281",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "1a6cbb3954eedcbb"
            ],
            []
        ]
    },
    {
        "id": "9904a4b7c50b511f",
        "type": "function",
        "z": "1ff1aed6663ccbf2",
        "name": "SetDir",
        "func": "if (msg.payload == true) {\n    msg.payload = \"CW\";\n} else {\n    msg.payload = \"CCW\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 520,
        "wires": [
            [
                "0f8b40a23524c4cc",
                "bbc85877db7e1635"
            ]
        ]
    },
    {
        "id": "1703d543beba157c",
        "type": "modbus-write",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2051",
        "quantity": "1",
        "server": "ad6724b6e5c870ab",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 620,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2909f1fbb511f4de",
        "type": "ui_switch",
        "z": "1ff1aed6663ccbf2",
        "name": "",
        "label": "Servo direction",
        "tooltip": "",
        "group": "71b3ad8de5bdc0ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "1703d543beba157c"
            ]
        ]
    },
    {
        "id": "0f8b40a23524c4cc",
        "type": "ui_text",
        "z": "1ff1aed6663ccbf2",
        "group": "71b3ad8de5bdc0ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 580,
        "wires": []
    },
    {
        "id": "1a6cbb3954eedcbb",
        "type": "function",
        "z": "1ff1aed6663ccbf2",
        "name": "CheckY1",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "9904a4b7c50b511f",
                "252b959e318ff144"
            ]
        ]
    },
    {
        "id": "252b959e318ff144",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "bbc85877db7e1635",
        "type": "debug",
        "z": "1ff1aed6663ccbf2",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 520,
        "wires": []
    }
]